/* -------------------------------------------------------- */
/* SIDEBAR STYLE */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover {
  color: yellow;
}

.sidebar .openbtn {
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 36px;
  display: none;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: block;
}

/* -------------------------------------------------------- */
/* PAGE STYLE */
.page {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 250px;
  display: none
}
/* Start displaying home page */
#homePage {
  display: block;
}

/* -------------------------------------------------------- */
/* SMALL PLAYER STYLE */
.smallPlayer {
  height: 12%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: yellow;
  overflow-x: hidden;
}

.smallPlayer .expandbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.fullscreenPlayer {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  text-align: center;
  background-color: magenta;
  display: none;
}

.fullscreenPlayer .closefspbutton {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 40px;
  text-decoration: none;
  display: none;

}

/*this is settings*/
.container{
  box-sizing: border-box;
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(200, 200, 200);
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1, h3{
  font-family: "Roboto Slab";
  font-weight: 600;
  text-align: center;
}

p{
  text-align: center;
}

span{
  font-family: "Poppins";
  font-weight: 500;
}

.toggle-container{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.toggle{
    width: 60px;
    height: 35px;
    border-radius: 40px;
    background-color: #EBEBFE;
    display: inline-block;
}

.toggle-c{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:white;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: 300ms all;
  border: 1px solid #8C8CA4;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]:checked + div .toggle-c{
  left: 30px;
  background-color: #30305c;
  border-color: #30305c;
}

.togg{
  display: flex;
  align-self: center;
  justify-content: space-between;
  position: sticky;
}

select{
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: .8rem;
  padding: .7em .7em;
  background: #4d5061;
  color: white;
}